## **03. Integrasi Data (Data Integration)**

---

Menggabungkan data dari berbagai sumber menjadi satu set data yang konsisten dan kaya informasi.

A. Data Harmonization

B. Data Integration

C. Data Cleansing

## Import Library

In [24]:
import pandas as pd
import numpy

## A. Data Harmonization

### 1. Dataset (Public Opinion)

---
Kolom       : tweet, label (Aman)

Label       : "Love, Joy, Anger, Fear, Sad, Neutral" (aman)

In [25]:
dataset_publicopinion = pd.read_csv(
    '../02. Pengumpulan Data (Data Collection)/Dataset/Label/1/(1)Dataset_Public_Opinion.csv', 
    sep="\t"
)

### 2. Dataset (IndoNLU)

---
Kolom       : tweet, label (Aman)

Label       : "Love, Happy, Anger, Fear, Sadness" (ganti happy dan sadness)

In [26]:
dataset_indonlu = pd.read_csv(
    '../02. Pengumpulan Data (Data Collection)/Dataset/Label/2/(2)Dataset_IndonLU.csv',
      sep="\t"
)

dataset_indonlu

        label                                              tweet
0       Happy  Ini adalah hal yang paling membahagiakan saat ...
1       Anger    Dari pertama  menduduki bangku jabatan anda,...
2        Fear  yaudah kalo emang belum berani potong rambut p...
3        Fear  Jadi semalam, gw rekap, eh intinya yg gw usaha...
4       Anger  temen2 masa kecil yang turned out being asshol...
...       ...                                                ...
4396  Sadness  Ramadhan udah masuk hari yang ke-20 aja. tapi ...
4397  Sadness  kalo gue sik emang abis kehilangan seseorang y...
4398     Fear  aku dong malem ini checkup darah,, ok warning ...
4399    Anger  Dan besok musti pagi2 tangsel-bogor.. Dan (lag...
4400    Happy  Pelayaran Aman, Selamat, Tertib dan Nyaman Pas...

[4401 rows x 2 columns]

In [27]:
dataset_indonlu['label'] = dataset_indonlu['label'].replace({'Happy': 'Joy', 'Sadness': 'Sad'})
dataset_indonlu

      label                                              tweet
0       Joy  Ini adalah hal yang paling membahagiakan saat ...
1     Anger    Dari pertama  menduduki bangku jabatan anda,...
2      Fear  yaudah kalo emang belum berani potong rambut p...
3      Fear  Jadi semalam, gw rekap, eh intinya yg gw usaha...
4     Anger  temen2 masa kecil yang turned out being asshol...
...     ...                                                ...
4396    Sad  Ramadhan udah masuk hari yang ke-20 aja. tapi ...
4397    Sad  kalo gue sik emang abis kehilangan seseorang y...
4398   Fear  aku dong malem ini checkup darah,, ok warning ...
4399  Anger  Dan besok musti pagi2 tangsel-bogor.. Dan (lag...
4400    Joy  Pelayaran Aman, Selamat, Tertib dan Nyaman Pas...

[4401 rows x 2 columns]

### 3. Dataset (Meisaputri)

---
Kolom       : tweet, label (aman)

Label       : "Love, Joy, Anger, Fear, Sad" (ubah ukuran)

In [28]:
dataset_meisaputri= pd.read_csv(
    '../02. Pengumpulan Data (Data Collection)/Dataset/Label/3/(3)Dataset_MeisaPutri.csv',
      sep="\t"
)

dataset_meisaputri

      label                                              tweet
0     Anger  Soal jln Jatibaru,polisi tdk bs GERTAK gubernu...
1     Anger  Sesama cewe lho (kayaknya), harusnya bisa lebi...
2       Joy  Kepingin gudeg mbarek Bu hj. Amad Foto dari go...
3     Anger  Jln Jatibaru,bagian dari wilayah Tn Abang.Peng...
4       Joy  Sharing pengalaman aja, kemarin jam 18.00 bata...
...     ...                                                ...
3982    Sad  Ya masalah dia mau masuk partai penista Agama ...
3983   Love  Yg romantis bikin gemash dan degdegann kkk pok...
3984    Joy  Lantunan dawai indah diri, isi gegap gempita o...
3985   Love  Disayangi oleh insan yang kita sayang itu satu...
3986    Joy  Apa yang allah berikan adalah yang terbaik unt...

[3987 rows x 2 columns]

### 4. Dataset (Multiclass classification)

---
Kolom       : tweet, label (aman)

Label       : "Love, Joy, Anger, Fear, Sad" (aman)

In [29]:
dataset_multiclass = pd.read_csv(
    '../02. Pengumpulan Data (Data Collection)/Dataset/Label/4/(4)Dataset_Multiclass.csv',
      sep="\t"
)

dataset_multiclass

      label                                              tweet
0      Fear  Lebih menyeramkan kalo punya grup WA keluarga ...
1       Joy  Hepibesdey canteeeekk  panjang umur, jadi prib...
2       Joy  Jumat lalu nonton inih! Selain tertarik settin...
3       Joy     Nyante dulu.. Sruput kopi biar tambah bijak...
4      Love  Happy annyversarry yg pertama kalinya .. Trsra...
...     ...                                                ...
4148  Anger  sini berobat sama saya ini ngantri dokter saja...
4149    Joy  Selamat pagi generasi Tik Tok yang kadang kepa...
4150   Love  Salah satu sahabat terbaik! Teman, kakak, insp...
4151  Anger   Gila kok ada ya perempuan pikirannya malah ny...
4152  Anger   saya coba hubungi yg di cakung dan minta di w...

[4153 rows x 2 columns]

### 5. Dataset (Twitter Dataset)

---
Kolom       : content, label (perubahaan)

Label       : "joy, fear, trust, anger, anticipation, disgust, sadness, surprise" (perubahan)

In [30]:
dataset_kaggle = pd.read_csv(
    '../02. Pengumpulan Data (Data Collection)/Dataset/Label/5/(5)Dataset_Kaggle.csv',
      sep="\t"
)

dataset_kaggle

                                                content         label
0     @04Nakula @jokowi @prabowo @Gerindra @Dailymot...           joy
1     @Achmadr06327297 @fadlizon @Gerindra @prabowo ...           joy
2     @Gerindra @PKSejahtera @prabowo Seandainya sek...          fear
3     @fadlizon @Gerindra @prabowo Saya dukung pak p...           joy
4     @Gerindra @PKSejahtera Mencari yang setia dan ...         trust
...                                                 ...           ...
8677  Aku pengen bnget nih,daerah jakarta barat ada ...  anticipation
8678  Selamat Hari Raya Tri Suci Waisak untuk seluru...           joy
8679  Kandungan serat di passion fruit atau markisa ...         trust
8680  Selamat memperingati Hari Kebangkitan Nasional...           joy
8681  Olive oil dapat digunakan untuk mengobati kuli...         trust

[8682 rows x 2 columns]

In [31]:
dataset_kaggle = dataset_kaggle.rename(columns={'content': 'tweet'})
dataset_kaggle

                                                  tweet         label
0     @04Nakula @jokowi @prabowo @Gerindra @Dailymot...           joy
1     @Achmadr06327297 @fadlizon @Gerindra @prabowo ...           joy
2     @Gerindra @PKSejahtera @prabowo Seandainya sek...          fear
3     @fadlizon @Gerindra @prabowo Saya dukung pak p...           joy
4     @Gerindra @PKSejahtera Mencari yang setia dan ...         trust
...                                                 ...           ...
8677  Aku pengen bnget nih,daerah jakarta barat ada ...  anticipation
8678  Selamat Hari Raya Tri Suci Waisak untuk seluru...           joy
8679  Kandungan serat di passion fruit atau markisa ...         trust
8680  Selamat memperingati Hari Kebangkitan Nasional...           joy
8681  Olive oil dapat digunakan untuk mengobati kuli...         trust

[8682 rows x 2 columns]

Penjelasan :

1. Joy (Bliss, Contentment, Pride):
Kelas Emosi: Joy

2. Fear (Horror, Worry):
Kelas Emosi: Fear

3. Trust:
Kelas Emosi: Love (Karena Trust biasanya terkait dengan rasa kasih sayang atau kepercayaan yang tinggi)

4. Anger (Annoyance, Contempt, Hostility, Jealousy):
Kelas Emosi: Anger

5. Anticipation:
Kelas Emosi: Neutral (Anticipation tidak tercermin secara eksplisit dalam pohon emosi ini, sehingga dapat diklasifikasikan sebagai netral)

6. Disgust (termasuk dalam kategori Anger dengan Contempt):
Kelas Emosi: Anger

7. Sadness (Agony, Grief, Guilt, Loneliness):
Kelas Emosi: Sad

8. Surprise:
Kelas Emosi: Neutral (Surprise tidak tercermin secara eksplisit dalam pohon emosi ini, sehingga dapat diklasifikasikan sebagai netral)


Berikut adalah ringkasan pengelompokan berdasarkan gambar pohon emosi:

1. Neutral: Anticipation, Surprise

2. Joy: Joy

3. Fear: Fear

4. Love: Trust

5. Sad: Sadness

6. Anger: Anger, Disgust

In [32]:
label_mapping = {
    'joy': 'Joy',
    'fear': 'Fear',
    'trust': 'Love',
    'anger': 'Anger',
    'anticipation': 'Neutral',
    'disgust': 'Anger',
    'sadness': 'Sad',
    'surprise': 'Neutral'
}

# Mengganti nilai pada kolom 'label'
dataset_kaggle['label'] = dataset_kaggle['label'].map(label_mapping)

dataset_kaggle

                                                  tweet    label
0     @04Nakula @jokowi @prabowo @Gerindra @Dailymot...      Joy
1     @Achmadr06327297 @fadlizon @Gerindra @prabowo ...      Joy
2     @Gerindra @PKSejahtera @prabowo Seandainya sek...     Fear
3     @fadlizon @Gerindra @prabowo Saya dukung pak p...      Joy
4     @Gerindra @PKSejahtera Mencari yang setia dan ...     Love
...                                                 ...      ...
8677  Aku pengen bnget nih,daerah jakarta barat ada ...  Neutral
8678  Selamat Hari Raya Tri Suci Waisak untuk seluru...      Joy
8679  Kandungan serat di passion fruit atau markisa ...     Love
8680  Selamat memperingati Hari Kebangkitan Nasional...      Joy
8681  Olive oil dapat digunakan untuk mengobati kuli...     Love

[8682 rows x 2 columns]

In [48]:
#hitung jumlah permasing2 label sesuai label dari dataset diatas
dataset_kaggle['label'].value_counts()

#jumlah kata dalam dataset
dataset_kaggle['tweet'].apply(lambda x: len(x.split())).sum()

160477

In [34]:
dataaplikasi = pd.read_csv(
    '../02. Pengumpulan Data (Data Collection)/Dataset/Nonlabel/Done_label/data_valid.csv',
      sep=","
)

dataaplikasi = seleced_data = dataaplikasi[['full_text', 'emotion']]
dataaplikasi = dataaplikasi.rename(columns={'full_text': 'tweet', 'emotion': 'label'})
dataaplikasi

                                                   tweet    label
0      @m_nurfatoni Anies seperti Ahmad Dahlan jamam now  Neutral
1      @ardibhironx Itu ide AHOK dan udah dijalankan....  Neutral
2      @bagaskara645y @logikapolitikid Anies sama Pra...    Anger
3      pernyataan di depan para pendukungnya. Semoga ...  Neutral
4      @BangPino__ Pemilih Anies militan tak tergiur ...    Anger
...                                                  ...      ...
28966  #Cek Bisa COD BELI 1 DAPAT 2 #Dreamy #Sweet #M...      Joy
28967  ลองดู [COD] Flash Sale 1กิโล แมคคายกกระสอบ ตุ๊...      Joy
28968          wal cod an shopee kawa pakai qris lah yuu  Neutral
28969  Temukan [BS] BISA COD Light Stick TREASURE BLU...  Neutral
28970  wts / want to sell INA lfb Postcard chill kill...  Neutral

[28971 rows x 2 columns]

In [35]:
 dataaplikasi.to_csv('dataaplikasi.csv', index=False)

## B. Data Integration

---

Menggabungkannya menjadi satu dataset yang kohesif.

In [36]:
dataset_integration = pd.concat([dataset_publicopinion, dataset_indonlu, dataset_meisaputri, dataset_multiclass, dataset_kaggle], ignore_index=True)
dataset_integration

                                                   tweet    label
0        pengabdian yang terpuji meskipun terlihat biasa  Neutral
1                                baru saja mengirim foto  Neutral
2      apa kabar dunia twitter ? masihkah selucu dan ...  Neutral
3      yah gimana sih yang yaudah susul aku dulu kita...  Neutral
4                    saja ka dorg suro beli medium 2 set  Neutral
...                                                  ...      ...
28298  Aku pengen bnget nih,daerah jakarta barat ada ...  Neutral
28299  Selamat Hari Raya Tri Suci Waisak untuk seluru...      Joy
28300  Kandungan serat di passion fruit atau markisa ...     Love
28301  Selamat memperingati Hari Kebangkitan Nasional...      Joy
28302  Olive oil dapat digunakan untuk mengobati kuli...     Love

[28303 rows x 2 columns]

In [37]:
# Check if 'label' column exists in the DataFrame
if 'label' in dataset_integration.columns:
    print(dataset_integration['label'].value_counts())
else:
    print("The 'label' column does not exist in the DataFrame.")

label
Joy        6560
Anger      5691
Sad        4776
Love       4320
Neutral    3550
Fear       3391
Name: count, dtype: int64

In [38]:
dataset_integration.to_csv('dataset_integration(penelitian).csv', index=False)

In [39]:
dataset_integration = pd.concat([dataset_publicopinion, dataset_indonlu, dataset_meisaputri, dataset_multiclass, dataset_kaggle,dataaplikasi], ignore_index=True)
dataset_integration

                                                   tweet    label
0        pengabdian yang terpuji meskipun terlihat biasa  Neutral
1                                baru saja mengirim foto  Neutral
2      apa kabar dunia twitter ? masihkah selucu dan ...  Neutral
3      yah gimana sih yang yaudah susul aku dulu kita...  Neutral
4                    saja ka dorg suro beli medium 2 set  Neutral
...                                                  ...      ...
57269  #Cek Bisa COD BELI 1 DAPAT 2 #Dreamy #Sweet #M...      Joy
57270  ลองดู [COD] Flash Sale 1กิโล แมคคายกกระสอบ ตุ๊...      Joy
57271          wal cod an shopee kawa pakai qris lah yuu  Neutral
57272  Temukan [BS] BISA COD Light Stick TREASURE BLU...  Neutral
57273  wts / want to sell INA lfb Postcard chill kill...  Neutral

[57274 rows x 2 columns]

In [40]:
print(dataset_integration.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57274 entries, 0 to 57273
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   tweet   57272 non-null  object
 1   label   56907 non-null  object
dtypes: object(2)
memory usage: 895.0+ KB
None

In [41]:
# Check if 'label' column exists in the DataFrame
if 'label' in dataset_integration.columns:
    print(dataset_integration['label'].value_counts())
else:
    print("The 'label' column does not exist in the DataFrame.")

label
Neutral                          12984
Joy                              12234
Anger                            11003
Fear                              7901
Sad                               7194
Love                              5305
Skipped due to content policy      286
Name: count, dtype: int64

## C. Data Cleansing

---

Proses ini mencakup identifikasi dan penyelesaian masalah ketidakkonsistenan dalam data, seperti menghapus duplikasi, menangani nilai yang hilang dengan imputasi atau penghapusan, dan memperbaiki data yang bertentangan.

In [42]:
dataset_integration = dataset_integration.dropna(subset=['tweet'])

In [43]:
dataset_integration.drop_duplicates(subset=['tweet'], inplace=True)

C:\Users\TEMP\AppData\Local\Temp\ipykernel_10740\1656432511.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset_integration.drop_duplicates(subset=['tweet'], inplace=True)

In [44]:
# Menentukan 6 label emosi
labels = ['Anger', 'Fear', 'Neutral', 'Sad', 'Joy', 'Love']

# Menghapus baris yang tidak memiliki label dari 6 emosi
dataset_integration = dataset_integration[dataset_integration['label'].isin(labels)]

In [45]:
dataset_integration

                                                   tweet    label
0        pengabdian yang terpuji meskipun terlihat biasa  Neutral
1                                baru saja mengirim foto  Neutral
2      apa kabar dunia twitter ? masihkah selucu dan ...  Neutral
3      yah gimana sih yang yaudah susul aku dulu kita...  Neutral
4                    saja ka dorg suro beli medium 2 set  Neutral
...                                                  ...      ...
57252            @winniethewins Bisa cod atau shopee ka?  Neutral
57253  Wts / want to sell INA lfb Bornpink blackpink ...  Neutral
57254  ลองดู [COD] Flash Sale 1กิโล แมคคายกกระสอบ ตุ๊...      Joy
57255  Yang suka gayaCek OLEVS Jam Tangan Pria Anti A...  Neutral
57259  wts / want to sell INA lfb Postcard chill kill...  Neutral

[46764 rows x 2 columns]

## Saving

In [46]:
dataset_integration.to_csv('Dataset_Integration2.csv', sep='\t', index=False)